<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/car-listing.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <span class="logo"
          ><a href="/">CarSell</a><span class="num">24X7</span></span
        >
        <a href="/" class="back-button">Back</a>
      </div>
    </nav>
    <div class="heading">
      <h1>CARS</h1>
    </div>
    <div class="main-container">
      <div class="sub-container">
        <div class="card">
          <div class="img_div">
            <img src="/images/car7.png" alt="" />
          </div>

          <div class="product-info">
            <h2>Car Name</h2>
            <p>Car description...</p>
            <a href="/buying-page">Buy Now</a>
          </div>
        </div>
        <div class="card">
          <div class="img_div">
            <img src="/images/car8.png" alt="" />
          </div>

          <div class="product-info">
            <h2>Car Name</h2>
            <p>Car description...</p>
            <a href="/buying-page">Buy Now</a>
          </div>
        </div>
        <div class="card">
          <div class="img_div">
            <img src="/images/car9.png" alt="" />
          </div>

          <div class="product-info">
            <h2>Car Name</h2>
            <p>Car description...</p>
            <a href="/buying-page">Buy Now</a>
          </div>
        </div>
        <div class="card">
          <div class="img_div">
            <img src="/images/car10.png" alt="" />
          </div>

          <div class="product-info">
            <h2>Car Name</h2>
            <p>Car description...</p>
            <a href="/buying-page">Buy Now</a>
          </div>
        </div>
        <div class="card">
          <div class="img_div">
            <img src="/images/car11.png" alt="" />
          </div>

          <div class="product-info">
            <h2>Car Name</h2>
            <p>Car description...</p>
            <a href="/buying-page">Buy Now</a>
          </div>
        </div>
        <div class="card">
          <div class="img_div">
            <img src="/images/car12.png" alt="" />
          </div>

          <div class="product-info">
            <h2>Car Name</h2>
            <p>Car description...</p>
            <a href="/buying-page">Buy Now</a>
          </div>
        </div>
      </div>
    </div>

    <script>
      function showCarDetails() {
        // Redirect to the car details page when the "Buy Now" button is clicked
        window.location.href = "car-details.html"; // Adjust the path as needed
      }
    </script>
  </body>
</html>
